# Download Datset and Understand the Format

In [1]:
import pandas as pd
# Collect the data from the zipped files
df_training = pd.read_csv('kddcup.data.gz', header=None)
df_testing = pd.read_csv('corrected.gz', header=None)
df_training_10 = pd.read_csv('kddcup.data_10_percent.gz', header=None)

{'icmp', 'tcp', 'udp'}
{'SF', 'S1', 'RSTOS0', 'OTH', 'S2', 'S0', 'RSTO', 'SH', 'REJ', 'RSTR', 'S3'}
{'multihop.', 'ps.', 'xterm.', 'perl.', 'rootkit.', 'teardrop.', 'worm.', 'ftp_write.', 'guess_passwd.', 'imap.', 'snmpgetattack.', 'sendmail.', 'normal.', 'apache2.', 'processtable.', 'nmap.', 'ipsweep.', 'neptune.', 'spy.', 'udpstorm.', 'mailbomb.', 'xlock.', 'warezclient.', 'saint.', 'back.', 'mscan.', 'buffer_overflow.', 'snmpguess.', 'pod.', 'smurf.', 'phf.', 'loadmodule.', 'named.', 'sqlattack.', 'httptunnel.', 'warezmaster.', 'land.', 'xsnoop.', 'portsweep.', 'satan.'}
{'apache2.': 0, 'back.': 1, 'buffer_overflow.': 2, 'ftp_write.': 3, 'guess_passwd.': 4, 'httptunnel.': 5, 'imap.': 6, 'ipsweep.': 7, 'land.': 8, 'loadmodule.': 9, 'mailbomb.': 10, 'mscan.': 11, 'multihop.': 12, 'named.': 13, 'neptune.': 14, 'nmap.': 15, 'normal.': 16, 'perl.': 17, 'phf.': 18, 'pod.': 19, 'portsweep.': 20, 'processtable.': 21, 'ps.': 22, 'rootkit.': 23, 'saint.': 24, 'satan.': 25, 'sendmail.': 26, 'smurf.': 27, 'snmpgetattack.': 28, 'snmpguess.': 29, 'spy.': 30, 'sqlattack.': 31, 'teardrop.': 32, 'udpstorm.': 33, 'warezclient.': 34, 'warezmaster.': 35, 'worm.': 36, 'xlock.': 37, 'xsnoop.': 38, 'xterm.': 39}

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0,2,46,9,105,146,0,0,0,0,...,254,1.0,0.01,0.00,0.0,0.0,0.0,0.0,0.0,16
1,0,2,46,9,105,146,0,0,0,0,...,254,1.0,0.01,0.00,0.0,0.0,0.0,0.0,0.0,16
2,0,2,46,9,105,146,0,0,0,0,...,254,1.0,0.01,0.00,0.0,0.0,0.0,0.0,0.0,28
3,0,2,46,9,105,146,0,0,0,0,...,254,1.0,0.01,0.01,0.0,0.0,0.0,0.0,0.0,28
4,0,2,46,9,105,146,0,0,0,0,...,255,1.0,0.00,0.01,0.0,0.0,0.0,0.0,0.0,28

In [ ]:
# Split the data from labels
trlabels = df_training.iloc[:, 41].values
tslabels = df_testing.iloc[:, 41].values

training = df_training.drop(df_training.columns[41], axis=1)
testing = df_testing.drop(df_testing.columns[41], axis=1)

# The data after dropping the headers should be of shape (4898431, 41) and (311029, 41)
assert (training.shape == (4898431, 41))
assert (testing.shape == (311029, 41))
print(trlabels)
print(tslabels)

# Convert the categorical values into numeric values.

In [ ]:
import numpy as np
from sklearn.preprocessing import LabelEncoder

def cat_to_num(trcolumn, tscolumn):
    """
    Converts 2 categorical columns of the same types into numerical columns

    Args:
        trcolumn (ndarray): ndarray of values of the first column.
        tscolumn (ndarray): ndarray of values of the second column.

    Returns:
        tuple: a tuple of 2 ndarrays
    """
    encoder = LabelEncoder()
    categories = set(np.unique(trcolumn)).union(set(np.unique(tscolumn)))
    encoder.fit(list(categories))

In [ ]:
# Copy the data into another dataframe to convert its categorical values into numerical.
num_training = training.copy()
num_testing = testing.copy()

# Convert the categorical features.
for i in range(1, 4):
    values = cat_to_num(num_training.iloc[:, i].values, num_testing.iloc[:, i].values)
    num_training.isetitem(i, values[0])
    num_testing.isetitem(i, values[1])

# Convert the labels.
num_trlabels, num_tslabels = cat_to_num(trlabels, tslabels)

The data is now available in two forms:

Form One (Categorical):

training

*   trlabels
*   tslabels
*   training
*   testing

Form Two (Numerical):

*   trlabels
*   tslabels
*   training
*   testing

# Clustering Using K-Means

In [2]:
import numpy as np

def k_means(X, k, epsilon):
    
    n_samples, n_features = X.shape
    
    # Randomly choose k data points as the initial centroids
    centroids = X[np.random.choice(n_samples, k, replace=False)]
    distances = np.zeros((n_samples, k))
    labels = np.zeros(n_samples)
    old_centroids = np.zeros((k, n_features))
    
    # Continue until the centroids don't change by more than epsilon
    while np.linalg.norm(centroids - old_centroids) > epsilon:
        old_centroids = centroids.copy()
        
        # Calculate the Euclidean distances from each sample to each centroid
        for i in range(k):
            distances[:, i] = np.linalg.norm(X - centroids[i], axis=1)
        
        # Assign each sample to the nearest centroid
        labels = np.argmin(distances, axis=1)
        
        # Update the centroids to be the mean of the samples assigned to them
        for i in range(k):
            X_i = X[labels == i]
            if len(X_i) == 0:
                centroids[i] = old_centroids[i]
            else:
                centroids[i] = np.mean(X_i, axis=0)
        
    return centroids

In [5]:
import numpy as np
from sklearn.metrics.cluster import contingency_matrix
from scipy.optimize import linear_sum_assignment
labels = []
train = np.array(train_data.drop(train_data.columns[-1], axis=1))
test = np.array(test_data.drop(train_data.columns[-1], axis=1))
results = []
for K in [7]:
    centroids = k_means(train,K,0.001)
    distances = np.linalg.norm(test[:, np.newaxis, :] - centroids, axis=2)
    labels = np.argmin(distances, axis=1)
    print(labels)
    contingency = contingency_matrix(y_test, labels)
    row_ind, col_ind = linear_sum_assignment(-contingency)
    y_pred = np.zeros_like(labels)
    for i, j in zip(row_ind, col_ind):
       y_pred[labels == j] = i
    results.append(y_pred)
    print(results)

[0 0 0 ... 0 0 0]
[array([14, 14, 14, ..., 14, 14, 14])]

# Normalized Cut

In [ ]:
from sklearn.cluster import KMeans
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import train_test_split as tts
import numpy as np


def vecsort(vectors, values):
    """
    Sorts vectors based on values.

    Args:
        vectors (nparray): nparray of vectors to be sorted.
        values (nparray): nparray of values to be used to sort.

    Returns:
        nparray: nparray of sorted vectors with respect to values.
    """
    return vectors[:, np.argsort(values)[::-1]]


def sim_mat(data, sigma=1.0):
    """
    Constructs the similiarity graph of a given dataset.

    Args:
        data (ndarray): ndarray of the dataset.
        sigma (float, optional): Defaults to 1.0.

    Returns:
        ndarray: the similarity graph.
    """
    print(data)
    n = data.shape[0]
    S = np.zeros((n, n))
    for i in range(n):
        for j in range(i + 1, n):
            diff = data[i, :] - data[j, :]
            S[i, j] = np.exp(-np.dot(diff, diff) / (2 * sigma ** 2))
            S[j, i] = S[i, j]
    return S


def ncut(data, k, sigma=1.0):
    """
    Splits the data into a training set and testing set with ratio 0.5% for training dataset, then applies the normalized cut algorithm on the reduced training dataset.

    Args:
        data (pd.DataFrame): pd.DataFrame containing the original dataset.
        k (int): number of clusters.
        sigma (float, optional): Defaults to 1.0.

    Returns:
        nparray: nparray of labels after applying the normalized cut algorithm.
    """
    training = tts(data, random_state=42, train_size=0.005)[0]

    training = training.astype('float32')

    # Construct the similarity graph
    S = cosine_similarity(training)

    # Construct the degree matrix
    degrees = np.sum(S, axis=1)
    D = np.diag(degrees)

    # Compute Laplacian Matrix
    L = D - S

    # Compute sorted eigenvectors of the Laplacian Matrix
    values, vectors = np.linalg.eig(L)
    eigvectors = vecsort(vectors, values)

    # Perform K-means clustering on eigenvectors
    # TODO: This should be using the developed kmeans algorithm instead of python's built-in method.
    kmeans = KMeans(n_clusters=k)
    kmeans.fit(eigvectors[:, 1:k])

    return kmeans.labels_


print(ncut(num_training, 23))

# Evaluation

In [ ]:
from sklearn.metrics import precision_score, recall_score, f1_score ,mutual_info_score
K_range = [7,15,23,31,45]
i=0
for K in K_range:
    print("K",K)
    precision = precision_score(results[i],y_test,average='weighted')
    print("precision",precision)
    recall = recall_score(results[i], y_test, average='weighted')
    print("recall",recall)
    f1 = f1_score(results[i], y_test, average='weighted') 
    print("f1_score",f1)
    conditional_entropy = mutual_info_score(results[i], y_test)
    print("conditional_entropy",conditional_entropy)
    i = i+1

# DBSCAN

In [ ]:
vis = []
my_dict = {}
def dbscan(data, eps, min_samples):
    X = data.values
    global vis
    global my_dict
    vis = [0] * len(X)
    my_dict = {i: [] for i in range(len(X))}
    labels = [0] * len(X)
    cluster_id = 0
    for i in range(len(X)):
        if labels[i] != 0:
            continue            
        # Find all neighbors of the current point within eps distance
        neighbors = get_neighbors(X, i, eps)       
        # If the point is not a core point, mark it as an outlier
        if len(neighbors) < min_samples:
            labels[i] = -1
            continue       
        # Expand the cluster starting from the current core point
        cluster_id += 1
        labels[i] = cluster_id
        
        expand_cluster(X, labels, i, neighbors, eps, min_samples, cluster_id)
    
    return labels

def expand_cluster(X, labels, i, neighbors, eps, min_samples, cluster_id):
    
    # Loop over each neighbor of the core point
    for j in neighbors:
        if labels[j] == -1:
            labels[j] = cluster_id
        elif labels[j] == 0:
            labels[j] = cluster_id        
            # Find all neighbors of the current point within eps distance
            new_neighbors = get_neighbors(X, j, eps)        
            # If the point is a core point, add its neighbors to the list of neighbors
            if len(new_neighbors) >= min_samples:
                neighbors += new_neighbors

def get_neighbors(X, i, eps):
    global vis
    global my_dict
    if vis[i] == 1:
        return my_dict[i]
    neighbors = []
    for j in range(len(X)):
        if i == j:
            continue
            
        dist = np.linalg.norm(X[i] - X[j])
        if dist <= eps:
            neighbors.append(j)
    vis[i] = 1
    my_dict[i] = neighbors
    return neighbors

In [ ]:
from sklearn.model_selection import train_test_split
np.random.seed(42)
# df_copy = train_data.drop(train_data.columns[-1], axis=1)
# df_copy.std()
train_data_copy, test_data = train_test_split(train_data, test_size=0.95, random_state=42)
train_labels = np.array(train_data_copy.iloc[:, -1])
print(f"Training set size: {len(train_data_copy)}")

In [ ]:
pred_labels = dbscan(train_data_copy, 15, 3)
print(pred_labels)